<launch>

  <node pkg="rx_device_driver" name="cpz340816" type="cpz340816.py" required="true" output="screen">
    <param name="~rate" value="0.1" />
    <param name="~rsw_id" value="0" />
  </node>

  <node pkg="rx_device_driver" name="cpz3177" type="cpz3177.py" required="true" output="screen">
    <param name="~rate" value="0.001" />
    <param name="~rsw_id" value="0" />
    <param name="~sis_ch" value="8" />
    <param name="~pm_ch" value="2" />
  </node>

</launch>
